*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.inp1 {
    margin-top: 20px;
    margin-left: 50px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    width: 140px;
  }


table {
    border-collapse: collapse;
    border: 1px solid grey;
    margin-top: 40px;
    margin-left: 90px;
  }
  .container {
    border: 1px solid;
    width: 450px;
    border-radius: 10px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    border-color: rgb(65, 123, 231);
    background-color: white;
}
h2{
    text-align: center;
    margin-top: 10px;
}

input.inp {
    margin-left: 100px;
    height: 35px;
    width: 230px;
    padding-left: 5px; 
}
select {
    margin-left: 94px;
    height: 35px;
    width: 230px;
    padding-left: 5px;
}

input.images {
    margin-left: 93px;

}
input.manufacture {
    margin-left: 18px;
    height: 35px;
    width: 230px;
    padding-left: 5px;

}
input.avail {
    margin-left: 33px;
    height: 35px;
    width: 230px;
    padding-left: 5px;
}
input.inpname {
    margin-left: 94px;
    height: 35px;
    width: 230px;
    padding-left: 5px;
}

form.filling {
    margin-top: 40px;
}
button.btn {
    height: 38px;
    width: 179px;
    background-color: lightblue;
    margin-left: 133px;
    margin-top: 31px;
}
button.btn {
    height: 38px;
    width: 179px;
    background-color: lightblue;
    margin-left: 133px;
    margin-top: 31px;
    cursor: pointer;
}
button.btn:hover{
    background-color: rgb(83, 167, 247);
}

input.image {

    margin-left: 36px;
}
img.img1 {
    margin-left: 290px;
    margin-top: 10px;
}

button.delete {
    height: 25px;
    width: 70px;
    margin-left: 25px;
    background-color: red;
    color: white;
}

button.edit {
    height: 25px;
    width: 70px;
    margin-left: 25px;
    background-color: rgb(45, 91, 219);
    color: white;

}

button{
    cursor: pointer;
}